* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #323c3c;
}

.contact .l-wrap {
  max-width: 810px;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 810px) {
  .contact .l-wrap {
    padding: 0 25px 0 25px;
  }
}

.contact .ttl_cont {
  max-width: 500px;
  margin: 0 auto;
  padding: 200px 0 0 0;
}

.contact__ttl {
  color: #fff;
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
  padding: 0 0 30px 0;
  font-weight: 700;
}

.contact .line {
  border-right: 1px solid #ffcc00;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  width: 1px;
}

.contact__desc {
  color: #fff;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding: 40px 0 95px 0;
}

.contact .form-group_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 40px 0;
}

.contact .form-group_1:nth-of-type(6) .row:last-child input[type="text"] {
  width: 380px;
}

@media only screen and (max-width: 810px) {
  .contact .form-group_1:nth-of-type(6) .row:last-child input[type="text"] {
    width: 100%;
  }
}

.contact .form-group_1:nth-of-type(7) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .form-group_1:nth-of-type(7) .row:first-child {
  padding: 10px 0 0 0;
}

.contact .form-group_1:nth-of-type(7) .row:last-child input[type="text"] {
  width: 180px;
}

.contact .form-group_1:nth-of-type(7) .row:last-child input[type="text"]:last-child {
  margin: 10px 0 0 0;
  width: 100%;
}

.contact .form-group_1:nth-of-type(8) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .form-group_1:nth-of-type(8) .row:first-child {
  padding: 10px 0 0 0;
}

.contact .form-group_1 .row:nth-of-type(1) {
  width: 220px;
  text-align: left;
}

.contact .form-group_1 .row:nth-of-type(1) label {
  font-size: 16px;
  color: #ffcc00;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 700;
}

.contact .form-group_1 .row:nth-of-type(1) label span {
  font-size: 12px;
  color: #ffcc00;
  vertical-align: top;
}

.contact .form-group_1 .row:nth-of-type(2) {
  width: 590px;
  text-align: left;
  position: relative;
}

@media only screen and (max-width: 810px) {
  .contact .form-group_1 .row:nth-of-type(2) {
    padding: 10px 0 0 0;
    width: 100%;
  }
}

.contact .form-group_1 .row:nth-of-type(2) .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li {
  color: #aaaaaa;
  display: inline;
  position: relative;
  padding: 0 30px 0 0;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li:hover .check {
  border: 1px solid #ffcc00;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li input[type="radio"]:checked ~ .check {
  border: 1px solid #ffcc00;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li input[type="radio"]:checked ~ .check::before {
  background-color: #ffcc00;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li label {
  display: block;
  font-size: 18px;
  font-family: noto-sans-cjk-jp, sans-serif;
  position: relative;
  padding-left: 30px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.25s linear;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li .check {
  display: block;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  top: 3px;
  left: 0;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.contact .form-group_1 .row:nth-of-type(2) .choose ul li .check::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.contact .form-group_1 .row:nth-of-type(2) .choose .item {
  position: relative;
  padding: 0 35px 0 0;
}

@media only screen and (max-width: 320px) {
  .contact .form-group_1 .row:nth-of-type(2) .choose .item {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 320px) {
  .contact .form-group_1 .row:nth-of-type(2) .choose .item:nth-of-type(2) {
    padding: 15px 0 0 0;
  }
}

@media only screen and (max-width: 320px) {
  .contact .form-group_1 .row:nth-of-type(2) .choose .item:nth-of-type(2) .check {
    top: 18px;
  }
}

@media only screen and (max-width: 750px) {
  .contact .form-group_1 .row:nth-of-type(2) .choose .item:nth-of-type(3) {
    padding: 15px 0 0 0;
  }
}

@media only screen and (max-width: 750px) {
  .contact .form-group_1 .row:nth-of-type(2) .choose .item:nth-of-type(3) .check {
    top: 18px;
  }
}

.contact .form-group_1 .row:nth-of-type(2) input[type="text"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
}

.contact .form-group_1 .row:nth-of-type(2) textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

.contact .agree {
  padding: 10px 0 0 0;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.contact .agree ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact .agree ul li {
  color: #aaaaaa;
  display: inline;
  position: relative;
  padding: 0 30px 0 0;
}

.contact .agree ul li:hover .check {
  border: 1px solid #ffcc00;
}

.contact .agree ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.contact .agree ul li input[type="radio"]:checked ~ .check {
  border: 1px solid #ffcc00;
}

.contact .agree ul li input[type="radio"]:checked ~ .check::before {
  background-color: #ffcc00;
}

.contact .agree ul li label {
  display: block;
  font-size: 18px;
  font-family: noto-sans-cjk-jp, sans-serif;
  position: relative;
  padding-left: 30px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.25s linear;
}

.contact .agree ul li .check {
  display: block;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  top: 3px;
  left: 0;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

.contact .agree ul li .check::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.contact .agree .btn {
  width: 100%;
  border: 1px solid #ffcc00;
  color: #ffcc00;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  border-bottom: 4px solid #ffcc00;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 50px 0 0 0;
}

.privacy {
  text-align: center;
  padding: 135px 0 0 0;
}

.privacy .l-wrap {
  max-width: 810px;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .privacy .l-wrap {
    padding: 0 25px 0 25px;
  }
}

@media only screen and (max-width: 810px) {
  .privacy .l-wrap {
    padding: 0 25px 0 25px;
  }
}

.privacy__ttl {
  color: #fff;
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
  padding: 0 0 30px 0;
  font-weight: 700;
}

.privacy .line {
  border-right: 1px solid #ffcc00;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  width: 1px;
}

.privacy__content {
  padding: 40px 0 130px 0;
}

.privacy__content--item {
  text-align: left;
}

.privacy__content--item .title {
  color: #ffcc00;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.privacy__content--item .desc {
  color: #fff;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 0 50px 0;
}

.privacy__content--item:last-child .desc {
  padding: 15px 0 0 0;
}

.privacy .back-to-top {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 130px 0;
}

.privacy .back-to-top span {
  display: block;
  width: 60px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #7d8b8b), color-stop(50%, #ffcc00));
  background: linear-gradient(90deg, #7d8b8b 50%, #ffcc00 50%);
  height: 1pt;
}

.privacy .back-to-top p {
  color: #ffcc00;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  padding: 0 0 0 15px;
}
/*# sourceMappingURL=common.css.map */