* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.staff {
  background-color: #323C3C;
  padding: 188px 0 131px;
}

@media (max-width: 750px) {
  .staff {
    padding: 80px 0 130px;
  }
}

.staff .container {
  width: 810px;
  margin: 0 auto;
}

@media (max-width: 810px) {
  .staff .container {
    width: 100%;
  }
}

.staff .container .title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.staff .container .line {
  height: 60px;
  width: 1px;
  margin: 0 auto;
  background-color: #FFCC00;
}

.staff .container img {
  margin-bottom: 93px;
  width: 100%;
}

.staff .container .text_content {
  width: 480px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .staff .container .text_content {
    width: 100%;
    padding: 0 25px;
  }
}

.staff .container .staff_wanted .text_content p:nth-child(1) {
  font-size: 18px;
  line-height: 46px;
  padding: 10px 0px;
  background-color: #FFCC00;
  margin-bottom: 81px;
  text-align: center;
}

@media (max-width: 750px) {
  .staff .container .staff_wanted .text_content p:nth-child(1) {
    width: 100%;
    padding: 10px 10px;
  }
}

.staff .container .staff_wanted .text_content p:nth-child(2) {
  font-size: 28px;
  line-height: 40px;
  color: #FFD200;
  letter-spacing: -3px;
  margin-bottom: 39px;
}

@media (max-width: 750px) {
  .staff .container .staff_wanted .text_content p:nth-child(2) {
    text-align: center;
  }
}

.staff .container .staff_wanted .text_content p:nth-child(3) {
  text-align: left;
  color: #fff;
  line-height: 32px;
  margin-bottom: 132px;
}

.staff .container .job_description .text_content .description {
  display: -webkit-box;
  margin: 30px 0 53px;
}

@media (max-width: 750px) {
  .staff .container .job_description .text_content .description {
    display: block;
  }
}

.staff .container .job_description .text_content .description p:nth-child(1) {
  color: #FFCC00;
  line-height: 32px;
  width: 30%;
}

.staff .container .job_description .text_content .description p:nth-child(2) {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
}

.staff .container .job_description .text_content .staff_btn {
  text-decoration: none;
  text-align: center;
  padding: 19px 0;
  color: #FFCC00;
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #FFCC00;
  border-bottom: 4px solid #FFCC00;
}

.staff .container .back_to_top {
  margin-top: 80px;
  text-align: right;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .staff .container .back_to_top {
    margin-top: 33px;
  }
}

.staff .container .back_to_top .stripe {
  width: 60px;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.staff .container .back_to_top .stripe div:first-child {
  background-color: #7D8B8B;
  height: 100%;
  width: 50%;
}

.staff .container .back_to_top .stripe div:last-child {
  background-color: #FFCC00;
  height: 100%;
  width: 50%;
}

.staff .container .back_to_top a {
  font-size: 16px;
  font-weight: 400;
  color: #FFCC00;
  letter-spacing: 2px;
  text-decoration: none;
}
/*# sourceMappingURL=common.css.map */